<!-- ko with: childmgt -->

<div>
    <button class="btn btn-default glyphicon glyphicon-plus" data-bind="click: openNew"></button>
</div>

<div data-bind="if: isCreatingNew">
    <div data-bind=" with: item">
        <h2>Add New Child</h2>
        <div>
            <label for="gender">Gender (Male)</label>
            <input id="gender" data-bind="checked: male" type="checkbox" title="Gender (Male)" />
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" data-bind="value: firstName" type="text" title="First Name" />
        </div>
        <div>
            <label for="middleName">Middle Name</label>
            <input id="middleName" data-bind="value: middleName" type="text" title="Middle Name" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" data-bind="value: lastName" type="text" title="Last Name" />
        </div>
        
        
        <div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <label for="date">Date of Birth</label>
                        <div id="date" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: dateOfBirth" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
        <button class="btn btn-default" data-bind="click: $parent.create, enable: $parent.canSave">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>

<div data-bind="if: isEditing">
    <div data-bind=" with: item">
        <h2>Update Child</h2>
        <div>
            <label for="childId" data-bind="visible: false">Id</label>
            <label id="childId" data-bind="text: id, visible: false"></label>
        </div>
        <div>
            <label for="gender">Gender (Male)</label>
            <input id="gender" data-bind="checked: male" type="checkbox" title="Gender (Male)" />
        </div>
        <div>
            <label for="firstName">First Name</label>
            <input id="firstName" data-bind="value: firstName" type="text" title="First Name" />
        </div>
        <div>
            <label for="middleName">Middle Name</label>
            <input id="middleName" data-bind="value: middleName" type="text" title="Middle Name" />
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input id="lastName" data-bind="value: lastName" type="text" title="Last Name" />
        </div>
        

        <div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <label for="date">Date of Birth</label>
                        <div id="date" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: dateOfBirth" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <button class="btn btn-default" data-bind="click: $parent.update">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>

<div class="row">
    <h1>Children</h1>
    <table>
        <tbody data-bind="foreach: items">

            <tr>
                <td data-bind="text: child().id"></td>
                <td data-bind="text: child().firstName"></td>
                <td data-bind="text: child().middleName"></td>
                <td data-bind="text: child().lastName"></td>
                <td data-bind="text: child().dateOfBirth"></td>
                <td>
                    <button class="btn btn-default" data-bind="visible: !readOnly, click: $parent.edit">Edit</button>
                    <button class="btn btn-default" data-bind="visible: !readOnly, click: $parent.deleteItem">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<!-- /ko -->
