<!-- ko with: cpvm -->


<div class="card" data-bind="visible: isCreatingNew() || isEditing()">
    <div data-bind=" with: item">

        <div class="card-header">
            <h2 class="m-b-20">
                <span data-bind="if: $parent.isCreatingNew() ">Add New </span>
                <span data-bind="if: $parent.isEditing() ">Update </span>
                Permissions
            </h2>
        </div>


        <div class="card-body card-padding">
            <div class="row">

                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Feedings</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="FeedingsinlineRadioOptions" data-bind="checked: feedingWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="FeedingsinlineRadioOptions" data-bind="checked: feedingWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="FeedingsinlineRadioOptions" data-bind="checked: feedingWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>

                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Diaper</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="DiaperinlineRadioOptions" data-bind="checked: diaperChangeWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="DiaperinlineRadioOptions" data-bind="checked: diaperChangeWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="DiaperinlineRadioOptions" data-bind="checked: diaperChangeWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>


                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Sleep</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="SleepinlineRadioOptions" data-bind="checked: sleepWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="SleepinlineRadioOptions" data-bind="checked: sleepWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="SleepinlineRadioOptions" data-bind="checked: sleepWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>



                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Measurement</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="MeasurementinlineRadioOptions" data-bind="checked: measurementWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="MeasurementinlineRadioOptions" data-bind="checked: measurementWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="MeasurementinlineRadioOptions" data-bind="checked: measurementWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>


                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Child Management</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="ChildManagementinlineRadioOptions" data-bind="checked: childManagementWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="ChildManagementinlineRadioOptions" data-bind="checked: childManagementWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="ChildManagementinlineRadioOptions" data-bind="checked: childManagementWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>

                <div class="col-sm-2 m-b-20">
                    <p class="c-black f-500 m-b-20">Permissions</p>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="PermissionsinlineRadioOptions" data-bind="checked: permissionsWriteAccess, checkedValue: null">
                            <i class="input-helper"></i>
                            No Access
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="PermissionsinlineRadioOptions" data-bind="checked: permissionsWriteAccess, checkedValue: false">
                            <i class="input-helper"></i>
                            Read Only
                        </label>
                    </div>
                    <div>
                        <label class="radio radio-inline m-r-20 m-b-20">
                            <input type="radio" name="PermissionsinlineRadioOptions" data-bind="checked: permissionsWriteAccess, checkedValue: true">
                            <i class="input-helper"></i>
                            Write (Create, Update, Delete)
                        </label>
                    </div>
                </div>




                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">User Name</p>
                    <div class="form-group" id="scrollable-dropdown-menu">
                        <div class="fg-line" data-bind="with: user">
                            <input class="typeahead form-control" type="text" placeholder="User Name" data-bind='value: userName'>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Title</p>
                    <div class="form-group">
                        <select class="form-control" data-bind="options: $parent.availableTitles, value: title"></select>
                    </div>
                </div>
            </div>

            <div data-bind="if: $parent.isEditing()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.update, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>

            <div data-bind="if: $parent.isCreatingNew()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.create, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>
        </div>
    </div>

</div>


<div class="block-header">
    <h1>Permissions</h1>
</div>

<div>
    <div class="col-md-8 col-sm-6">
        <div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt" data-bind="style: { backgroundColor: app.themeBackgroundColorClassName }">
                    <h2 class="lvh-label c-white" data-bind="text: ''"></h2>

                    <ul class="lv-actions actions">
                        <li data-bind="visible: canAdd">
                            <a href="#" data-bind="click: openNew">
                                <i class="md md-add c-white" style="font-size: 30px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="lv-body" data-bind="if: sortedByDate().length > 0 ">
                    <!-- ko foreach: sortedByDate -->
                    <div class="lv-item">
                        <div class="media">
                            <div class="pull-left">
                                <div class="profile-pic" data-bind="ifnot: user().profileImageUrl()">
                                    <img style="border-radius: 50%" data-bind="attr: { src: app.noUserProfilePic(), alt: user().userName() }">
                                    <div data-bind="text: user().title()" style="text-align: center"></div>
                                </div>
                                <div class="profile-pic" data-bind="if: user().profileImageUrl()">
                                    <img style="border-radius: 50%" data-bind="attr: { src: user().profileImageUrl(), alt: user().userName() }" alt="">
                                    <div data-bind="text: user().title()" style="text-align: center"></div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="lv-actions actions dropdown" data-bind="visible: $parent.canEdit">
                                    <a href="" data-toggle="dropdown" aria-expanded="true">
                                        <i class="md md-more-vert" data-bind="style: { color: app.themeBackgroundColorClassName }"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="" data-bind="visible: $parent.canEdit, click: $parent.edit">Edit</a>
                                        </li>
                                        <li>
                                            <a href="" data-bind="visible: $parent.canDelete, click: $parent.deleteItem">Delete</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- ko with: user -->
                                <div class="lv-title" style="font-weight: bold">
                                    <span data-bind="text: userName"></span>
                                </div>
                                @*<small class="lv-small" data-bind="text: id"></small>*@
                                <!-- /ko -->

                                <span data-bind="visible: title">
                                    <span style="word-wrap: break-word" data-bind="text: title"></span>
                                </span>

                                <ul class="lv-attrs">
                                    <li data-bind="visible: feedingWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text: 'Feedings: ' + (feedingWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>

                                    <li data-bind="visible: diaperChangeWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text: 'Diaper: ' + (diaperChangeWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>

                                    <li data-bind="visible: sleepWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text: 'Sleep: ' + (sleepWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>


                                    <li data-bind="visible: measurementWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text: 'Measurement: ' + (measurementWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>

                                    <li data-bind="visible: childManagementWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text:'ChildManagement: ' +  (childManagementWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>

                                    <li data-bind="visible: permissionsWriteAccess() !== null" class="bgm-blue c-white">
                                        <span data-bind="text:'Permission: ' +  (permissionsWriteAccess() ? 'Write' : 'Read Only')"></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /ko -->
                </div>
                <div class="lv-body" data-bind="visible: sortedByDate().length == 0">
                    <a class="pull-right" data-bind="visible: canAdd, click: openNew, text: 'Add a new Permission'"></a>
                    <div class="lv-title">
                        <span style="font-size: 16px">No Permission found for this child.</span>
                    </div>
                    <div id='loadingDiv'>
                        Please wait...
                        <img src="~/Content/images/ajax-loader.gif" alt="loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->