<!-- ko with: childmgt -->
<div class="card" data-bind="if: isCreatingNew() || isEditing()">
    <div data-bind=" with: item">

        <div class="card-header">
            <h2 class="m-b-20">
                <span data-bind="if: $parent.isCreatingNew() ">Add New </span>
                <span data-bind="if: $parent.isEditing() ">Update </span>
                Child
            </h2>
        </div>


        <div class="card-body card-padding">
            <div class="row">

                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Date Of Birth</p>
                    <div class="form-group fg-line">
                        <input type='datetime' class="form-control" data-bind="datetimepicker: dateOfBirth" data-toggle="dropdown" placeholder="Date Of Birth">
                    </div>
                </div>

                <div class="col-sm-2 m-b-20">
                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="inlineRadioOptions" data-bind="checked: male, checkedValue: true">
                        <i class="input-helper"></i>
                        Boy
                    </label>

                    <label class="radio radio-inline m-r-20">
                        <input type="radio" name="inlineRadioOptions"  data-bind="checked: male, checkedValue: false">
                        <i class="input-helper"></i>
                        Girl
                    </label>
                </div>

                <div class="col-sm-6 m-b-20">
                    <p class="c-black f-500 m-b-20">First Name</p>

                    <div class="col-sm-3 form-group fg-line">
                        <input class="form-control" data-bind="value: firstName" />
                    </div>

                </div>
                
                <div class="col-sm-6 m-b-20">
                    <p class="c-black f-500 m-b-20">Middle Name</p>

                    <div class="col-sm-3 form-group fg-line">
                        <input class="form-control" data-bind="value: middleName" />
                    </div>

                </div>
                
                <div class="col-sm-6 m-b-20">
                    <p class="c-black f-500 m-b-20">Last Name</p>

                    <div class="col-sm-3 form-group fg-line">
                        <input class="form-control" data-bind="value: lastName" />
                    </div>

                </div>
            </div>

            <div data-bind="if: $parent.isEditing()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.update, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>

            <div data-bind="if: $parent.isCreatingNew()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.create, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>
        </div>
    </div>

</div>


<div class="block-header">
    <h1>Child Management</h1>
</div>

<div>
    <div class="col-md-8 col-sm-6">
        <div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt" data-bind="style: { backgroundColor: app.themeBackgroundColorClassName }">
                    <h2 class="lvh-label c-white" data-bind="text: 'My Children'"></h2>

                    <ul class="lv-actions actions">
                        <li data-bind="visible: canAdd">
                            <a href="#" data-bind="click: openNew">
                                <i class="md md-add c-white" style="font-size: 30px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="lv-body" data-bind="if: sortedByDate().length > 0 ">
                    <!-- ko foreach: sortedByDate -->
                    <div class="lv-item">
                        <div class="media">
                            <div class="pull-left" data-bind="with: child">
                                @*<img class="lv-img-sm" src="~/Content/material/images/widgets/mate7.jpg" alt="">*@
                                <i class="md md-face-unlock" data-bind="style: { color: male() ?  app.blueTheme : app.pinkTheme, fontSize: '30px' }"></i>
                            </div>
                            <div class="media-body">
                                <div class="lv-actions actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="true">
                                        <i class="md md-more-vert" data-bind="style: { color: app.themeBackgroundColorClassName }"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="" data-bind="visible: $parent.canEdit, click: $parent.edit">Edit</a>
                                        </li>
                                        <li>
                                            <a href="" data-bind="visible: $parent.canDelete, click: $parent.deleteItem">Delete</a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- ko with: child -->
                                <div class="lv-title" style="font-weight: bold">
                                    <span data-bind="visible: firstName, text: firstName"></span> <span data-bind="visible:middleName, text: middleName"> </span>
                                    <span data-bind="visible:lastName, text: lastName"> </span>
                                </div>
                                <small class="lv-small" data-bind="text: moment(dateOfBirth()).format('dddd, MMM Do YYYY hh:mm a')"></small>
                                <!-- /ko -->

                                <span >
                                    <span style="word-wrap: break-word" data-bind="text: ''"></span>
                                </span>

                                <ul class="lv-attrs">
                                    <li data-bind="visible: !readOnly" class="bgm-blue c-white">
                                        <span data-bind="text: 'Admin'"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /ko -->
                </div>
                <div class="lv-body" data-bind="visible: sortedByDate().length == 0">
                    <a class="pull-right" data-bind="visible: canAdd, click: openNew, text: 'Add a new Child'"></a>
                    <div class="lv-title">
                        <span style="font-size: 16px">No Children found. Adding a child will enable the following features</span>
                        <ul>
                            <li>Statistics (Charts and Graphs)</li>
                            <li>Feeding Tracker</li>
                            <li>Diaper Tracker</li>
                            <li>Measurement Tracker</li>
                        </ul>
                    </div>
                    <div id='loadingDiv'>
                        Please wait...
                        <img src="~/Content/images/ajax-loader.gif" alt="loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
