<!-- ko with: diapermgt -->
<div data-bind="ifnot: diaperChange">
    <h2>Add New Diaper Changing</h2>
    <div>
        <label for="date">Date Time of Occurrence</label>
        <input id="date" data-bind="value: occurredOn" type="text" title="Changed on" />
    </div>
    <div>
        <label for="urine">Contained Urine?</label>
        <input id="urine" data-bind="checked: urine" type="checkbox" title="Pee" />
    </div>
    <div>
        <label for="stool">Contained Stool?</label>
        <input id="stool" data-bind="checked: stool" type="checkbox" title="Poop" />
    </div>

    <textarea data-bind='value: notes' rows='5' cols='60'> </textarea>

    <button class="btn btn-default" data-bind="click: create, enable: canSave">Save</button>
    <button class="btn btn-default" data-bind="click: cancel">Cancel</button>
</div>

<div data-bind="if: diaperChange">
    <h2>Update Diaper Change</h2>
    <div>
        <label for="dcId" data-bind="visible: false">Id</label>
        <label id="dcId" data-bind="text: diaperChange().id, visible: false"></label>
    </div>
    
    <div>
        <label for="date">Date Time of Occurrence</label>
        <input id="date" data-bind="value: diaperChange().occurredOn" type="text" title="Changed on" />
    </div>
    <div>
        <label for="urine">Contained Urine?</label>
        <input id="urine" data-bind="checked: diaperChange().urine" type="checkbox" title="Pee" />
    </div>
    <div>
        <label for="stool">Contained Stool?</label>
        <input id="stool" data-bind="checked: diaperChange().stool" type="checkbox" title="Poop" />
    </div>

    <textarea data-bind='value: diaperChange().notes' rows='5' cols='60'> </textarea>


    <button class="btn btn-default" data-bind="click: update">Save</button>
    <button class="btn btn-default" data-bind="click: cancel">Cancel</button>
</div>

<div>
    <h1>Diaper Changes</h1>

    <!-- ko foreach: diaperChanges -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">

                <span class="panel-title" data-bind="text: moment(occurredOn).format('hh:mm a MM/DD/YYYY')"></span>

                <div class="pull-right">
                    <button class="btn btn-default" data-bind="click: $parent.edit">Edit</button>
                    <button class="btn btn-default" data-bind="click: $parent.delete">Delete</button>
                </div>
            </div>
            <div class="panel-body">
                <p data-bind="visible:urine, text: 'Pee'"></p>
                <p data-bind="visible:stool, text: 'Poop'"></p>
                <p data-bind="visible:notes, text: notes"></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>


<!-- /ko -->