<!-- ko with: diapermgt -->

<div>
    <button class="btn btn-default glyphicon glyphicon-plus" data-bind="click: openNew"></button>
</div>

<div data-bind="if: isCreatingNew">
    <div data-bind=" with: diaperChange">
        <h2>Add New Diaper Changing</h2>

        <div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <label for="date">Date Time of Occurrence</label>
                        <div id="date" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: occurredOn" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label for="urine">Contained Urine?</label>
            <input id="urine" data-bind="checked: urine" type="checkbox" title="Pee" />
        </div>
        <div>
            <label for="stool">Contained Stool?</label>
            <input id="stool" data-bind="checked: stool" type="checkbox" title="Poop" />
        </div>

        <textarea data-bind='value: notes' rows='5' cols='60'> </textarea>

        <button class="btn btn-default" data-bind="click: $parent.create, enable: $parent.canSave">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>

<div data-bind="if: isEditing">
    <div data-bind=" with: diaperChange">
        <h2>Update Diaper Change</h2>
        <div>
            <label for="dcId" data-bind="visible: false">Id</label>
            <label id="dcId" data-bind="text: id, visible: false"></label>
        </div>


        <div class="container">
            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <label for="date">Date Time of Occurrence</label>
                        <div id="date" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: occurredOn" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label for="urine">Contained Urine?</label>
            <input id="urine" data-bind="checked: urine" type="checkbox" title="Pee" />
        </div>
        <div>
            <label for="stool">Contained Stool?</label>
            <input id="stool" data-bind="checked: stool" type="checkbox" title="Poop" />
        </div>

        <textarea data-bind='value: notes' rows='5' cols='60'> </textarea>


        <button class="btn btn-default" data-bind="click: $parent.update">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>
<div>
    <h1>Diaper Changes</h1>

    <!-- ko foreach: sortedByDate -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">

                <span class="panel-title" data-bind="text: moment(occurredOn()).format('hh:mm a MM/DD/YYYY')"></span>

                <div class="pull-right">
                    <button class="btn btn-default glyphicon glyphicon-pencil" data-bind="click: $parent.edit"></button>
                    <button class="btn btn-default glyphicon glyphicon-remove" data-bind="click: $parent.delete"></button>
                </div>
            </div>
            <div class="panel-body">
                <p data-bind="visible:urine, text: 'Pee'"></p>
                <p data-bind="visible:stool, text: 'Poop'"></p>
                <p data-bind="visible:notes, text: notes"></p>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->