<!-- ko with: diaperStats -->

<div>
    <h2>Amount Since Birth</h2>
    <canvas id="diaperSinceBirth" width="400" height="400"></canvas>
   
</div>

<div>
    <h2>Amount Last Week</h2>
    <canvas id="diaperLastWeek" width="400" height="400"></canvas>
</div>

<div>
    <h2>Amount Last Month</h2>
    <canvas id="diaperLastMonth" width="400" height="400"></canvas>
</div>

<div>
    <h2>Most Logged Pees</h2>
    <canvas id="mostLoggedPee" width="400" height="400"></canvas>
    <div id="mostPeelegendDiv"></div>
</div>

<div>
    <h2>Most Logged Poops</h2>
    <canvas id="mostLoggedPoop" width="400" height="400"></canvas>
    <div id="mostPooplegendDiv"></div>
</div>

<!-- /ko -->