<!-- ko with: diaperStats -->

<div>
    <h2>Amount Since Birth</h2>
    <div id="diaperSinceBirth"></div>
   
</div>

<div>
    <h2>Amount Last Week</h2>
    <div id="diaperLastWeek"></div>
</div>

<div>
    <h2>Amount Last Month</h2>
    <div id="diaperLastMonth"></div>
</div>

<div>
    <h2>Most Logged Pees</h2>
    <div id="mostLoggedPee"></div>
</div>

<div>
    <h2>Most Logged Poops</h2>
    <div id="mostLoggedPoop"></div>
</div>

<!-- /ko -->