<!-- ko with: feedingStats -->

<div>
    <h2>Amount Since Birth</h2>
    <canvas id="sinceBirth" width="400" height="400"></canvas>
</div>

<div>
    <h2>Amount Last Week</h2>
    <canvas id="feedAmountLastWeek" width="400" height="400"></canvas>
</div>

<div>
    <h2>Amount Last 3 months</h2>
    <canvas id="3Month" width="400" height="400"></canvas>
</div>

<div>
    <h2>Total Feeds Last week</h2>
    <canvas id="feedCountLastWeek" width="400" height="400"></canvas>
</div>

<div>
    <h2>Total Feeds Last Month</h2>
    <canvas id="feedCountLastMonth" width="400" height="400"></canvas>
</div>



<!-- /ko -->