@using cozyjozywebapi.Models
<!-- ko with: feedingMgt -->

<div>
    <button class="btn btn-default glyphicon glyphicon-plus" data-bind="click: openNew"></button>
</div>


<div data-bind="if: isCreatingNew">
    <div data-bind=" with: feeding">
        <h2>Add New Feeding</h2>

        <div class="container">
            <div class="row">
                    <div class="form-group">
                        <label for="startdate">Start Date Time</label>
                        <div id="startdate" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: startTime" />
                        </div>
                    </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="form-group">
                        <label for="enddate">End Date Time</label>
                        <div id="enddate" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: endTime" />
                        </div>
                </div>
            </div>
        </div>



        <div>
            <label>Delivery Type</label>
            <select class="form-control" data-bind="options: $parent.deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
        </div>

        <div>
            <label for="amount">Amount (mL)</label>
            <input id="amount" data-bind="value: amount" />
            <span data-bind="text: $parent.amountOunces() + ' oz'"></span>
        </div>

        <div>
            <label>Spit up?</label>
            <input data-bind="checked: spitUp" type="checkbox" />
        </div>


        <button class="btn btn-default" data-bind="click: $parent.create, enable: $parent.canSave">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>

<div data-bind="if: isEditing">
    <div data-bind=" with: feeding">
        <h2>Update Feeding</h2>
        <div>
            <label for="feedingId" data-bind="visible: false">Id</label>
            <label id="feedingId" data-bind="text: id, visible: false"></label>
        </div>

        <div class="container">
            <div class="row">
                    <div class="form-group">
                        <label for="startdate">Start Date Time</label>
                        <div id="startdate" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: startTime" />
                        </div>
                    </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="form-group">
                        <label for="enddate">End Date Time</label>
                        <div id="enddate" class='input-group date datetimepicker'>
                            <input type='text' class="form-control" data-bind="datetimepicker: endTime" />
                        </div>
                    </div>
            </div>
        </div>



        <div>
            <label>Delivery Type</label>
            <select class="form-control" data-bind="options: $parent.deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
        </div>

        <div>
            <label for="amount">Amount (mL)</label>
            <input id="amount" data-bind="value: amount" />
            <span data-bind="text: $parent.amountOunces() + ' oz'"></span>
        </div>

        <div>
            <label>Spit up?</label>
            <input data-bind="checked: spitUp" type="checkbox" />
        </div>


        <button class="btn btn-default" data-bind="click: $parent.update, enable: $parent.canSave">Save</button>
        <button class="btn btn-default" data-bind="click: $parent.cancel">Cancel</button>
    </div>
</div>
<div>
    <h1>Feedings</h1>

    <!-- ko foreach: feedings -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" data-bind="attr: spitUp() ? { style: 'background-color: yellow'} : ''">

                <span class="panel-title" data-bind="text: moment(endTime()).format('hh:mm a MM/DD/YYYY')"></span>

                <div class="pull-right">
                    <button class="btn btn-default glyphicon glyphicon-pencil" data-bind="click: $parent.edit"></button>
                    <button class="btn btn-default glyphicon glyphicon-remove" data-bind="click: $parent.delete"></button>
                </div>
            </div>
            <div class="panel-body">
                <div data-bind="text: $parent.getText($data)"></div>
                <div data-bind="if: spitUp"><span>This feeding has been flagged as being Spit back up or vomited</span></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->
