<!-- ko with: feedingMgt -->
<div class="card" data-bind="if: isCreatingNew() || isEditing()">

    <div data-bind="if: isCreatingNew">
        <div data-bind=" with: item">

            <div class="card-header">
                <h2 class="m-b-20">Add New Feeding</h2>
            </div>


            <div class="card-body card-padding">
                <div class="row">
                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Start Time</p>
                        <div class="form-group fg-line">
                            <input type='text' class="form-control" data-bind="datetimepicker: startTime" data-toggle="dropdown" placeholder="Start Time">
                        </div>
                    </div>
                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">End Time</p>
                        <div class="form-group fg-line">
                            <input type='text' class="form-control" data-bind="datetimepicker: endTime" data-toggle="dropdown" placeholder="End Time">
                        </div>
                    </div>

                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Delivery Type</p>

                        <div>
                            <select class="form-control" data-bind="options: $parent.deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
                        </div>
                    </div>

                    <div class="col-sm-6 m-b-20">
                        <p class="c-black f-500 m-b-20">Amount (ml)</p>

                        <div class="col-sm-3 form-group fg-line">
                            <input id="amount" class="form-control" data-bind="value: amount" />
                            <span data-bind="text: $parent.amountOunces() + ' oz'"></span>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="slider form-control" data-bind="sliderValue: {value: amount, min:0, max: 400, step: 1}" />
                        </div>

                    </div>


                    <div class="col-sm-2 m-b-20 checkbox m-b-15">
                        <label>
                            <input type="checkbox" data-bind="checked: spitUp">
                            <i class=" input-helper"></i>
                            Was this feeding spit up by the baby?
                        </label>
                    </div>

                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Notes</p>
                        <div class="form-group">
                            <div class="fg-line">
                                <textarea class="form-control" data-bind='value: notes' rows="5" placeholder="Enter notes about the feeding here...."></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn bgm-green btn-icon" data-bind="click: $parent.create, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>
        </div>
    </div>

    <div data-bind="if: isEditing">
        <div data-bind=" with: item">
            <div class="card-header">
                <h2 class="m-b-20">Update New Feeding</h2>
            </div>
            <div>
                <label for="feedingId" data-bind="visible: false">Id</label>
                <label id="feedingId" data-bind="text: id, visible: false"></label>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div>
                        <label for="feedingId" data-bind="visible: false">Id</label>
                        <label id="feedingId" data-bind="text: id, visible: false"></label>
                    </div>
                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Start Time</p>
                        <div class="form-group fg-line">
                            <input type='text' class="form-control" data-bind="datetimepicker: startTime" data-toggle="dropdown" placeholder="Start Time">
                        </div>
                    </div>

                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">End Time</p>
                        <div class="form-group fg-line">
                            <input type='text' class="form-control" data-bind="datetimepicker: endTime" data-toggle="dropdown" placeholder="End Time">
                        </div>
                    </div>

                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Delivery Type</p>

                        <div>
                            <select class="form-control" data-bind="options: $parent.deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
                        </div>
                    </div>

                    <div class="col-sm-6 m-b-20">
                        <p class="c-black f-500 m-b-20">Amount (ml)</p>

                        <div class="col-sm-3 form-group fg-line">
                            <input id="amount" class="form-control" data-bind="value: amount" />
                            <span data-bind="text: $parent.amountOunces() + ' oz'"></span>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="slider form-control" data-bind="sliderValue: {value: amount, min:0, max: 400, step: 1}" />
                        </div>

                    </div>


                    <div class="col-sm-2 m-b-20 checkbox m-b-15">
                        <label>
                            <input type="checkbox" data-bind="checked: spitUp">
                            <i class=" input-helper"></i>
                            Was this feeding spit up by the baby?
                        </label>
                    </div>

                    <div class="col-sm-4 m-b-20">
                        <p class="c-black f-500 m-b-20">Notes</p>
                        <div class="form-group">
                            <div class="fg-line">
                                <textarea class="form-control" data-bind='value: notes' rows="5" placeholder="Enter notes about the feeding here...."></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <button class="btn bgm-green btn-icon" data-bind="click: $parent.update, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>
        </div>
    </div>
</div>


<div class="block-header">
    <h1>Feedings</h1>

    <div class="row">
        <div class="col-sm-2" data-bind="visible: canAdd">
            <button class="btn btn-icon command-edit" data-bind="click: openNew"><span class="md md-note-add"></span></button>
        </div>

        @*<div class="col-sm-8">*@
        <div class="col-sm-4">
            <button type="button" class="btn bgm-white btn-icon" data-bind="enable: previousDateButtonEnabled, click: previousDate"><span class="md md-arrow-back c-black"></span></button>
        </div>

        <div class="col-sm-2">
            <span><i class="md md-event"></i></span>
            <div class="form-group">
                <div class="fg-line">
                    <input type='text' class="form-control bgm-edecec" data-bind="datetimepicker: sDate, dateTimePickerOptions: { format: 'MM/DD/YYYY'}" data-toggle="dropdown" placeholder="Click here...">
                </div>
            </div>
        </div>

        <div class="col-sm-1">

            <button class="btn bgm-white btn-icon" data-bind="enable: nextDateButtonEnabled, click: nextDate"><i class="md md-arrow-forward c-black"></i></button>
        </div>


        @*</div>*@

    </div>

</div>

<div class="card" data-bind="if: sortedFeedingsByDate().length == 0">
    <div class="card-header">
        <h2>
            <span>
                No feedings for this date.
            </span>

            <a class="pull-right" data-bind="visible: canAdd, click: openNew, text: 'Add a new feeding'">
            </a>
        </h2>

    </div>
</div>

<!-- ko foreach: sortedFeedingsByDate -->
<div class="card">
    <div class="card-header bgm-lightblue">
        <div class="pull-right">
            <button type="button" class="btn btn-icon command-edit" data-bind="visible: $parent.canEdit, click: $parent.edit"><span class="md md-edit"></span></button>
            <button type="button" class="btn btn-icon command-delete" data-bind="visible: $parent.canDelete, click: $parent.deleteItem"><span class="md md-delete"></span></button>
        </div>

        <!-- Please refer the Colors page in User Interface for more color classes -->
        <h2>
            <span data-bind="text: $parent.formattedDateTime(startTime(), 'time')"></span> - <span data-bind="text: $parent.formattedDateTime(endTime(), 'time')"></span>

            <small data-bind="text: $parent.getTimeDiff($data) + ' minutes'"></small>
        </h2>

    </div>

    <div class="card-body card-padding">
        <span data-bind="if:$parent.amountText($data)">
            <span data-bind="text: $parent.amountText($data)"></span> from
        </span>
        <span data-bind="text: $parent.getDeliveryType(deliveryType())"></span>
        <div data-bind="if: notes">
            <hr />
            <span data-bind="text: notes"></span>
        </div>
        <div data-bind="if: spitUp">
            <hr />
            <span data-bind="text: 'This feeding came back as spitup.'"></span>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- /ko -->