<!-- ko with: feedingMgt -->
<div class="card" data-bind="if: isCreatingNew() || isEditing()">
    <div data-bind=" with: item">

        <div class="card-header">
            <h2 class="m-b-20">
                <span data-bind="if: $parent.isCreatingNew() ">Add New </span>
                <span data-bind="if: $parent.isEditing() ">Update </span>
                Feeding
            </h2>
        </div>


        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Start Time</p>
                    <div class="form-group fg-line">
                        <input type='text' class="form-control" data-bind="datetimepicker: startTime" data-toggle="dropdown" placeholder="Start Time">
                    </div>
                </div>
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">End Time</p>
                    <div class="form-group fg-line">
                        <input type='text' class="form-control" data-bind="datetimepicker: endTime" data-toggle="dropdown" placeholder="End Time">
                    </div>
                </div>

                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Delivery Type</p>

                    <div>
                        <select class="form-control" data-bind="options: $parent.deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
                    </div>
                </div>

                <div class="col-sm-6 m-b-20">
                    <p class="c-black f-500 m-b-20">Amount (ml)</p>

                    <div class="col-sm-3 form-group fg-line">
                        <input id="amount" class="form-control" data-bind="value: amount" />
                        <span data-bind="text: $parent.amountOunces() + ' oz'"></span>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="slider form-control" data-bind="sliderValue: {value: amount, min:0, max: 400, step: 1}" />
                    </div>

                </div>


                <div class="col-sm-2 m-b-20 checkbox m-b-15">
                    <label>
                        <input type="checkbox" data-bind="checked: spitUp">
                        <i class=" input-helper"></i>
                        Was this feeding spit up by the baby?
                    </label>
                </div>

                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Notes</p>
                    <div class="form-group">
                        <div class="fg-line">
                            <textarea class="form-control" data-bind='value: notes' rows="5" placeholder="Enter notes about the feeding here...."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div data-bind="if: $parent.isEditing()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.update, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>

            <div data-bind="if: $parent.isCreatingNew()">
                <button class="btn bgm-green btn-icon pull-right" data-bind="click: $parent.create, enable: $parent.canSave"><i class="md md-check"></i></button>
                <button class="btn bgm-red btn-icon" data-bind="click: $parent.cancel"><i class="md md-close"></i></button>
            </div>
        </div>
    </div>

</div>


<div class="block-header">
    <h1>Feedings</h1>
</div>

<div>
    <div class="col-md-8 col-sm-6">
        <div class="card">
            <div class="listview lv-bordered lv-lg">
                <div class="lv-header-alt" data-bind="style: { backgroundColor: app.themeBackgroundColorClassName }">
                    <h2 class="lvh-label c-white" data-bind="text: moment(sDate()).format('dddd, MMM Do YYYY')"></h2>

                    <ul class="lv-actions actions">
                        <li data-bind="visible: canAdd">
                            <a href="#" data-bind="click: openNew">
                                <i class="md md-add c-white" style="font-size: 30px"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#" data-toggle="tooltip" title="Previous Day" data-bind="enable: previousDateButtonEnabled, click: previousDate">
                                <i class="md md-arrow-back c-white" style="font-size: 30px"></i>
                            </a>
                        </li>
                        <li>
                            <input type="datetime" class="c-white" style="border: 0; margin-left: 10px;border-color: white;width:75px;" data-bind="datetimepicker: sDate, dateTimePickerOptions: { format: 'MM/DD/YYYY'}, style: { backgroundColor: app.themeBackgroundColorClassName }">
                        </li>
                        <li>
                            <a href="#" data-bind="enable: nextDateButtonEnabled, click: nextDate">
                                <i class="md md-arrow-forward c-white" style="font-size: 30px"></i>
                            </a>
                        </li>

                      

                    </ul>
                </div>
                <div class="lv-body" data-bind="if: sortedFeedingsByDate().length > 0 ">
                    <!-- ko foreach: sortedFeedingsByDate -->
                    <div class="lv-item">
                        <div class="media">
                            <div class="pull-left">
                                @*<img class="lv-img-sm" src="~/Content/material/images/widgets/mate7.jpg" alt="">*@
                                <i class="md md-restaurant-menu" style="font-size:30px;"></i>
                            </div>
                            <div class="media-body">
                                <div class="lv-actions actions dropdown">
                                    <a href="" data-toggle="dropdown" aria-expanded="true">
                                        <i class="md md-more-vert" data-bind="style: { color: app.themeBackgroundColorClassName }"></i>
                                    </a>

                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="" data-bind="visible: $parent.canEdit, click: $parent.edit">Edit</a>
                                        </li>
                                        <li>
                                            <a href="" data-bind="visible: $parent.canDelete, click: $parent.deleteItem">Delete</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="lv-title" style="font-weight: bold">
                                    <span data-bind="text: $parent.formattedDateTime(startTime(), 'time')"></span> - <span data-bind="text: $parent.formattedDateTime(endTime(), 'time')"></span>
                                </div>

                                <small class="lv-small" data-bind="text: $parent.getTimeDiff($data) + ' minutes'"></small>

                                <span data-bind="visible: notes">
                                    <span style="word-wrap: break-word" data-bind="text: notes"></span>
                                </span>

                                <ul class="lv-attrs">

                                    <li data-bind="visible:$parent.amountText($data)" class="bgm-green c-white">
                                        <span data-bind="text: $parent.amountText($data)"></span>
                                    </li>

                                    <li data-bind="text: $parent.getDeliveryType(deliveryType()), css:  $parent.deliveryTypeClassTheme(deliveryType())"></li>

                                    <li data-bind="visible: spitUp" class="bgm-red c-white">
                                        <span data-bind="text: 'Spitup'"></span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- /ko -->
                </div>
                <div class="lv-body" data-bind="visible: sortedFeedingsByDate().length == 0">
                    <a class="pull-right" data-bind="visible: canAdd, click: openNew, text: 'Add a new feeding'"></a>
                    <div class="lv-title">
                        <span style="font-size: 16px">No feedings for this date.</span>
                    </div>
                    <div id='loadingDiv'>
                        Please wait...
                        <img src="~/Content/images/ajax-loader.gif" alt="loading" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->