<!-- ko with: feedingStats -->

<div>
    <h2>Amount Since Birth</h2>
    <div id="sinceBirth"></div>
</div>

<div>
    <h2>Amount Last Week</h2>
    <div id="feedAmountLastWeek"></div>
</div>

<div>
    <h2>Amount Last 3 months</h2>
    <div id="lastThreeMonths"></div>
</div>

<div>
    <h2>Total Feeds Last week</h2>
    <div id="feedCountLastWeek"></div>
</div>

<div>
    <h2>Total Feeds Last Month</h2>
    <div id="feedCountLastMonth"></div>
</div>



<!-- /ko -->