@using cozyjozywebapi.Models
<!-- ko with: feedingMgt -->

<div data-bind="ifnot: feeding">
    <h2>Add New Feeding</h2>
    <div>
        <label for="startTime">Start Time</label>
        <input id="startTime" data-bind="value: startTime" type="text" title="Start Time" />
    </div>
    <div>
        <label for="endime">End Time</label>
        <input id="endime" data-bind="value: endTime" type="text" title="End Time" />
    </div>

    <div>
        <label>Delivery Type</label>
        <select data-bind="options: deliveryTypes, optionsText: 'name', optionsValue: 'value', value: deliveryType "></select>
    </div>

    <div>
        <label for="amount">Amount (mL)</label>
        <input id="amount" data-bind="numeric: amount, value: amount" />
        <span data-bind="text: amountOunces() + ' oz'"></span>
    </div>

    <div>
        <label>Spit up?</label>
        <input data-bind="checked: spitUp" type="checkbox" />
    </div>


    <button class="btn btn-default" data-bind="click: create, enable: canSave">Save</button>
    <button class="btn btn-default" data-bind="click: cancel">Cancel</button>
</div>

<div data-bind="if: feeding">
    <h2>Update Feeding</h2>
    <div>
        <label for="feedingId" data-bind="visible: false">Id</label>
        <label id="feedingId" data-bind="text: feeding().id, visible: false"></label>
    </div>
    <div>
        <label for="startTime">Start Time</label>
        <input id="startTime" data-bind="value: feeding().startTime" type="text" title="Start Time" />
    </div>
    <div>
        <label for="endime">End Time</label>
        <input id="endime" data-bind="value: feeding().endTime" type="text" title="End Time" />
    </div>

    <div>
        <label>Delivery Type</label>
        <select data-bind="options: deliveryTypes, optionsText: 'name', optionsValue: 'value', value: feeding().deliveryType "></select>
    </div>

    <div>
        <label for="amount">Amount (mL)</label>
        <input id="amount" data-bind="numeric: feeding().amount, value: feeding().amount" />
        <span data-bind="text: amountOunces2() + ' oz'"></span>
    </div>

    <div>
        <label>Spit up?</label>
        <input data-bind="checked: feeding().spitUp" type="checkbox" />
    </div>


    <button class="btn btn-default" data-bind="click: update, enable: canSave">Save</button>
    <button class="btn btn-default" data-bind="click: cancel">Cancel</button>
</div>

<div>
    <h1>Feedings</h1>

    <!-- ko foreach: feedings -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" data-bind="attr: spitUp ? { style: 'background-color: yellow'} : ''">

                <span class="panel-title" data-bind="text: moment(endTime).format('hh:mm a MM/DD/YYYY')"></span>

                <div class="pull-right">
                    <button class="btn btn-default" data-bind="click: $parent.edit">Edit</button>
                    <button class="btn btn-default" data-bind="click: $parent.delete">Delete</button>
                </div>
            </div>
            <div class="panel-body">
                <div data-bind="text: $parent.getText($data)"></div>
                <div data-bind="if: spitUp"><span>This feeding has been flagged as being Spit back up or vomited</span></div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- /ko -->