<!-- ko with: home -->
<div class="jumbotron">
    <h1>CozyJozy.net!</h1>
    <p class="lead">Welcome to CozyJozy, a place to document your child's growth.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To begin you must enter a child in which statistics will be kept. Visit the child management page.
        </p>
        <p><a class="btn btn-default" data-bind="click: app.navigateToChildManagement">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enter Feedings</h2>
        <p>You can enter in when where and how your baby ate!</p>
        <p><a class="btn btn-default" data-bind="click: app.navigateToFeeding">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enter Diaper Changes</h2>
        <p>Enter in when your baby needed a diaper change</p>
        <p><a class="btn btn-default" data-bind="click: app.navigateToDiaper">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row" data-bind="with: stats">
    <div class="col-md-4">
        <h2>Birth Stats</h2>
        <div>
            <label>Date of Birth</label>
            <span data-bind="text: $parent.dob"></span>
        </div>
        <div>
            <label>Time Since Birth</label>
            <span data-bind="text: $parent.timeSinceBirth"></span>
        </div>
        <div>
            <label>Time Till Birthday</label>
            <span data-bind="text: $parent.timeTillBirthday"></span>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Feeding Stats</h2>
        <div>
            <label>Time Since Last feeding</label>
            <span data-bind="text: $parent.timeSinceLastFeeding"></span>
        </div>
        <div>
            <label>Number of Feedings in last 24 hours</label>
            <span data-bind="text: numberOfRecentFeedings"></span>
        </div>
        <div>
            <label>Total Feedings</label>
            <span data-bind="text: totalFeedings"></span>
        </div>
        <div>
            <label>Amount per Feed in last 24 hours</label>
            <span data-bind="text: $parent.round2Decimals(recentAmountPerFeed()) + ' mL'"></span>
            <span> or </span>
            <span data-bind="text: $parent.convertToOz(recentAmountPerFeed()) + ' oz'"></span>

        </div>
        <div>
            <label>Total Amount per Feed</label>
            <span data-bind="text: $parent.round2Decimals(totalAmountPerFeed()) + ' mL'"></span>
            <span> or </span>
            <span data-bind="text: $parent.convertToOz(totalAmountPerFeed()) + ' oz'"></span>
        </div>
        
        <div>
            <label>Total Amount in last 24 hours</label>
            <span data-bind="text: $parent.round2Decimals(totalRecentAmount()) + ' mL'"></span>
            <span> or </span>
            <span data-bind="text: $parent.convertToOz(totalRecentAmount()) + ' oz'"></span>
        </div>

    </div>
    <div class="col-md-4">
        <h2>Diaper Stats</h2>
        <div>
            <label>Time Since Last Diaper</label>
            <span data-bind="text: $parent.timeSinceLastDiaperChange"></span>
        </div>
        <div>
            <label>Number of Diaper Changes in last 24 hours</label>
            <span data-bind="text: numberOfRecentDiaperChanges"></span>
        </div>
        <div>
            <label>Total Diaper Changes</label>
            <span data-bind="text: totalDiaperChanges"></span>
        </div>
    </div>
</div>

<!-- /ko -->
