<!-- ko with: home -->
<div class="jumbotron">
    <h1>CozyJozy.net!</h1>
    <p class="lead">Welcome to CozyJozy, a place to document your child's growth.</p>
    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToFeeding, style: { backgroundColor: app.themeBackgroundColorClassName }">Log Feedings &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToDiaper, style: { backgroundColor: app.themeBackgroundColorClassName }">Log Diaper Changes &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToSleep, style: { backgroundColor: app.themeBackgroundColorClassName }">Log Sleep Event &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToMeasurements, style: { backgroundColor: app.themeBackgroundColorClassName }">Log Measurements &raquo;</a></p>

    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToFeedingStats, style: { backgroundColor: app.themeBackgroundColorClassName }">View Feeding Stats &raquo;</a></p>
    <p><a class="btn btn-primary btn-lg waves-effect waves-button" data-bind="click: app.navigateToDiaperStats, style: { backgroundColor: app.themeBackgroundColorClassName }">View Diaper Stats &raquo;</a></p>
</div>

<div data-bind="with: stats">
    
    <div class="block-header">
        <h2>Birth Stats <small>Quick collection of statistics from your child's birth. For advanced statistics, please visit the Statistics page</small></h2>
    </div>

    <div class="row">
        
        <div class="col-sm-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                    <div class="count">
                        <label>Date of Birth</label>
                        <h2 data-bind="text: $parent.dob"></h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                 
                    <div class="count">
                        <label>Time Since Birth</label>
                        <h2 data-bind="text: $parent.timeSinceBirth"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">

            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                   
                    <div class="count">
                        <label>Next Birthday</label>
                        <h2 data-bind="text: $parent.timeTillBirthday"></h2>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="block-header">
        <h2>Feeding Stats <small>Quick collection of statistics for your child's feedings. For advanced statistics, please visit the Statistics page</small></h2>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Last Feeding</label>
                        <h2 data-bind="text: $parent.timeSinceLastFeeding"></h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Number of Feedings Since Birth</label>
                        <h2 data-bind="text: totalFeedings"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">

            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Number Feedings in last 24 hours</label>
                        <h2 data-bind="text: numberOfRecentFeedings"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Avg Amount per Feed Since Birth</label>
                        <h2 data-bind="text: $parent.round2Decimals(totalAmountPerFeed()) + ' mL'"></h2>
                        <h2> or </h2>
                        <h2 data-bind="text: $parent.convertToOz(totalAmountPerFeed()) + ' oz'"></h2>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-sm-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Avg Amount per Feed in last 24 hours</label>
                        <h2 data-bind="text: $parent.round2Decimals(recentAmountPerFeed()) + ' mL'"></h2>
                        <h2> or </h2>
                        <h2 data-bind="text: $parent.convertToOz(recentAmountPerFeed()) + ' oz'"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="mini-charts-item bgm-cyan">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Amount eaten in last 24 hours</label>
                        <h2 data-bind="text: $parent.round2Decimals(totalRecentAmount()) + ' mL'"></h2>
                        <h2> or </h2>
                        <h2 data-bind="text: $parent.convertToOz(totalRecentAmount()) + ' oz'"></h2>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="block-header">
        <h2>Diaper Stats <small>Quick collection of statistics for your child's Diaper Changes. For advanced statistics, please visit the Statistics page</small></h2>
    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Last Diaper Change</label>
                        <h2 data-bind="text: $parent.timeSinceLastDiaperChange"></h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Number of Diaper Changes Since Birth</label>
                        <h2 data-bind="text: totalDiaperChanges"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">

            <div class="mini-charts-item bgm-lightgreen">
                <div class="clearfix">
                    @*<div class="chart stats-bar"></div>*@
                    <div class="count">
                        <label>Number Diaper Changes in last 24 hours</label>
                        <h2 data-bind="text: numberOfRecentDiaperChanges"></h2>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
</div>
<!-- /ko -->