<!-- ko with: login -->


<ul class="text-danger" data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
</ul>


<div class="card go-social col-md-8">
    <div class="card-header">
        <h2>Login with the following providers <small></small></h2>
    </div>

    <div class="card-body clearfix" data-bind="visible: hasExternalLogin">
        <!-- ko foreach: externalLoginProviders -->
        <a class="col-xs-4" href="">
            <img data-bind="attr: { src: '/Content/material/images/social/' + name().toLowerCase() + '-128.png',  title: 'Log in using your ' + name() + ' account' }, click: login, css: 'img-responsive'" />
        </a>
        <!-- /ko -->
    </div>
</div>

<div class="card col-md-8">
    <p><a href="#" data-bind="click: register">Register</a> for an account if you don't want to use the above providers. Creating an account is free and only takes a few seconds.</p>
</div>

<div class="card col-md-8">
    <div class="card-header">
        <h2>Already have an account? Login here</h2>
        <a href="#" data-bind="click: app.navigateToForgotPassword"> Forgot Password? Click here.</a>
    </div>
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username" data-bind="value: userName, hasFocus: true">
                </div>
            </div>

            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" data-bind="value: password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4 checkbox">
                <label>
                    <input type="checkbox" value="" data-bind="checked: rememberMe">
                    <i class="input-helper"></i>
                    Keep me signed in for 2 weeks
                </label>
            </div>
            <div>
                @*<a href="" class="btn btn-login btn-danger btn-float pull-right"><i class="md md-arrow-forward"></i></a>*@
                <button class="btn btn-login btn-danger btn-float pull-right" data-bind="click: login, disable: loggingIn, style: { position: 'relative'}"><i class="md md-arrow-forward"></i></button>
            </div>

        </div>


    </div>
</div>
<!-- /ko -->
