<!-- ko with: login -->


<ul class="text-danger" data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
</ul>

<section class="col-md-4" data-bind="visible: hasExternalLogin()">
    <h4>Use another service to login.</h4>
    <hr />
    <div data-bind="visible: loadingExternalLogin">Loading...</div>
    <div data-bind="visible: !loadingExternalLogin()">
        <div data-bind="visible: !hasExternalLogin()">
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
        <form class="form-horizontal" role="form" data-bind="visible: hasExternalLogin">
            <p data-bind="foreach: externalLoginProviders">
                <button type="submit" class="btn btn-default" data-bind="text: name, attr: { title: 'Log in using your ' + name() + ' account' }, click: login"></button>
            </p>
        </form>
    </div>
</section>

<p><a href="#" data-bind="click: register">Register</a> if you don't have a local account.</p>

<div class="card col-md-8">
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username" data-bind="value: userName, hasFocus: true">
                </div>
            </div>

            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" data-bind="value: password">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4 checkbox">
                <label>
                    <input type="checkbox" value="" data-bind="checked: rememberMe">
                    <i class="input-helper"></i>
                    Keep me signed in for 2 weeks
                </label>
            </div>
            <div>
                @*<a href="" class="btn btn-login btn-danger btn-float pull-right"><i class="md md-arrow-forward"></i></a>*@
                <button class="btn btn-login btn-danger btn-float pull-right" data-bind="click: login, disable: loggingIn, style: { position: 'relative'}"><i class="md md-arrow-forward"></i></button>
            </div>
          
        </div>
      
       
    </div>
</div>
<!-- /ko -->
