<!-- ko with: manage -->
<div data-bind="visible: loading">Loading...</div>
<div data-bind="visible: !loading()">
    <p class="text-success" data-bind="text: message"></p>
    <h2>Manage Account</h2>
    <div class="card">
        <div class="card-body card-padding" data-bind="with: changePassword">
            <p class="text-info">You're logged in as <strong data-bind="text: name"></strong>.</p>
            <form class="form-horizontal" role="form">
                <h4>Change your password</h4>
                <hr />
                <ul class="text-danger" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>

                <div class="form-group fg-line">
                    <label for="ChangePasswordOldPassword" class="col-md-2 control-label">Old password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordOldPassword" class="form-control" data-bind="value: oldPassword" />
                    </div>
                </div>
                <div class="form-group fg-line">
                    <label for="ChangePasswordNewPassword" class="col-md-2 control-label">New password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordNewPassword" class="form-control" data-bind="value: newPassword" />
                    </div>
                </div>
                <div class="form-group fg-line">
                    <label for="ChangePasswordConfirmPassword" class="col-md-2 control-label">Confirm new password</label>
                    <div class="col-md-10">
                        <input type="password" id="ChangePasswordConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" data-bind="click: change, disable: changing">Change password</button>
                    </div>
                </div>
            </form>
        </div>
        <div data-bind="with: setPassword">
            <p>You do not have a local username/password for this site. Add a local account so you can log in without an external login.</p>
            <form class="form-horizontal" role="form">
                <h4>Create Local Login</h4>
                <hr />
                <ul class="text-danger" data-bind="foreach: errors">
                    <li data-bind="text: $data"></li>
                </ul>
                <div class="form-group">
                    <label for="SetPasswordNewPassword" class="col-md-2 control-label">New password</label>
                    <div class="col-md-10">
                        <input type="password" id="SetPasswordNewPassword" class="form-control" data-bind="value: newPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="SetPasswordConfirmPassword" class="col-md-2 control-label">Confirm new password</label>
                    <div class="col-md-10">
                        <input type="password" id="SetPasswordConfirmPassword" class="form-control" data-bind="value: confirmPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default" data-bind="click: set, disable: setting">Set password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <ul class="text-danger" data-bind="foreach: errors">
            <li data-bind="text: $data"></li>
        </ul>
        <div data-bind="if: logins().length > 0">
            <div class="card-header">
                <h4>Registered logins</h4>
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody data-bind="foreach: logins">
                        <tr>
                            <td data-bind="text: loginProvider"></td>
                            <td>
                                <div data-bind="if: $parent.canRemoveLogin">
                                    <form>
                                        <div>
                                            <button type="submit" class="btn btn-default" data-bind="attr: { title: 'Remove this ' + loginProvider() + ' credential from your account' }, click: remove, disable: removing">Remove</button>
                                        </div>
                                    </form>
                                </div>
                                <span data-bind="if: !$parent.canRemoveLogin()">&nbsp;</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="card go-social col-md-8">
        <div class="card-header">
            <h2>Associate another provider with this account<small></small></h2>
        </div>

        <div class="card-body clearfix" data-bind="visible: hasExternalLogin">
            <!-- ko foreach: externalLoginProviders -->
            <a class="col-xs-4" href="">
                <img data-bind="attr: { src: '/Content/material/images/social/' + name().toLowerCase() + '-128.png',  title: 'Log in using your ' + name() + ' account' }, click: login, css: 'img-responsive'" />
            </a>
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
