<!-- ko with: register -->
<p><a href="#" data-bind="click: login">Log in</a> if you already have a local account.</p>
<ul class="text-danger" data-bind="foreach: errors">
    <li data-bind="text: $data"></li>
</ul>

<div class="card col-md-8">
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Username" data-bind="value: userName, hasFocus: true">
                </div>
            </div>
            
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Email" data-bind="value: email">
                </div>
            </div>
            
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="First Name" data-bind="value: firstName">
                </div>
            </div>
            
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-person"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Last Name" data-bind="value: lastName">
                </div>
            </div>

            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Password" data-bind="value: password">
                </div>
            </div>
            
            <div class="col-md-12 col-sm-4 input-group m-b-20">
                <span class="input-group-addon"><i class="md md-accessibility"></i></span>
                <div class="fg-line">
                    <input type="password" class="form-control" placeholder="Confirm Password" data-bind="value: confirmPassword">
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-sm-4">
                <label>
                    <input type="checkbox" data-bind="checked: acceptAgreement">
                    <i class="input-helper"></i>
                    Accept the license agreement
                </label>
            </div>
           
            <div>
                <button class="btn btn-login btn-danger btn-float pull-right" data-bind="click: register, disable: registering, style: { position: 'relative'}"><i class="md md-arrow-forward"></i></button>
            </div>

        </div>
    </div>
</div>

<!-- /ko -->
