<!-- ko with: developer -->

<div class="card">
    <div>

        <div class="card-header">
            <h2 class="m-b-20">
                Developer Testing
            </h2>
        </div>


        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">403 Forbidden</p>
                    <div class="form-group fg-line">
                        <button class="btn" data-bind="click: forbidden"><i class="md md-check"></i></button>
                    </div>
                </div>
                
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">Server Error 500</p>
                    <div class="form-group fg-line">
                        <button class="btn" data-bind="click: serverError"><i class="md md-check"></i></button>
                    </div>
                </div>
                
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">404 Not Found</p>
                    <div class="form-group fg-line">
                        <button class="btn" data-bind="click: notFound"><i class="md md-check"></i></button>
                    </div>
                </div>
                
                <div class="col-sm-4 m-b-20">
                    <p class="c-black f-500 m-b-20">401 Unauthorized</p>
                    <div class="form-group fg-line">
                        <button class="btn" data-bind="click: unauthorized"><i class="md md-check"></i></button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- /ko -->
